@model Library.Areas.Member.Models.ProfileModel




@*<div class="profile">
        <h4>Your profile </h4>
        <hr />
        <div class="row">
            <div class="col-2">
                <div>
                    Nom
                </div>
                <div>
                    @Model.Name
                </div>
            </div>
            <br />
            <div class="col-2">
                <div>
                    Prénom
                </div>
                <div>
                    @Model.Surname
                </div>
            </div>
            <br />
            <div class="col-2">
                <div>
                    Surnom
                </div>
                <div>
                    @Model.Adress
                </div>
            </div>
            <br />
            <div class="col-2">
                <div>
                    Email
                </div>
                <div>
                    @Model.Email
                </div>
            </div>
            <div class="col-2">

                <div class="imgProfile">
                    <img src="@Model.Photo" />
                </div>
            </div>
        </div>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </div>*@



@*2 solution
    
    <div class="profile">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">

            <img class="card-img-top" src="@Model.Photo" alt="">
            <div class="card-body">
                <h4 class="card-title">Name: @Model.Name</h4>
                <p class="card-text">Surname: @Model.Surname</p>
                <p class="card-text">Adress: @Model.Adress</p>
                <p class="card-text">Email: @Model.Email</p>
            </div>

        </div>

        <div class="profileOptions"> @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) </div>
    </div>
</div>*@


    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Profile</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col-2">
                <div>
                    Name
                </div>
                <div>
                    @Model.Name
                </div>
            </div>
            <br />
            <div class="col-2">
                <div>
                    Surname
                </div>
                <div>
                    @Model.Surname
                </div>
            </div>
            <br />
            <div class="col-2">
                <div>
                    Adress
                </div>
                <div>
                    @Model.Adress
                </div>
            </div>
            <br />
            <div class="col-2">
                <div>
                    Email
                </div>
                <div>
                    @Model.Email
                </div>
            </div>
            <div class="col-2">

                <div>
                    <img src="@Model.Photo" />
                </div>
            </div>
        </div>

        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=Model.IdReader }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.IdReader })
        </td>

    </div>
<!-- /.container-fluid -->