
@{
    ViewBag.Title = "Search";
}


<div>
    @foreach (Library.Models.BookModel item in Model)
    {
        <h2>@item.Title</h2>
        <h3>@item.Author</h3>
        <h3>@item.Category</h3>
        <h3>@item.Description</h3>
        <img src="@item.Image" />
    }
</div>
